<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Library - Books</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-4">
    <h1>All Books</h1>
    <a th:href="@{/books/new}" class="btn btn-success mb-3 float-start" sec:authorize="hasRole('ADMIN')">Add New Book</a>
    <p th:if="${error}" th:text="${error}" class="text-danger mt-3"></p>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th class="col-1">ID</th>
                <th class="col-2">Title</th>
                <th class="col-2">ISBN</th>
                <th class="col-5">Authors</th>
                <th class="col-1 text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td class="col-1" th:text="${book.id}"></td>
                <td class="col-2" th:text="${book.title}"></td>
                <td class="col-2" th:text="${book.isbn}"></td>
                <td class="col-5" th:text="${book.authorNames}"></td>
                <td class="col-1 text-end">
                    <a th:href="@{/books/{id}(id=${book.id})}" class="btn btn-sm btn-primary">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>