<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Library - Users</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-4">
    <h1>All Users</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-sm btn-primary">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/users/new}" class="btn btn-success" sec:authorize="hasRole('ADMIN')">Add New User</a>
    <p th:if="${error}" th:text="${error}" class="error mt-3"></p>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>