<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title ?: 'Error'}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container w-50 mt-5">
    <h1 th:text="${title ?: 'Error'}"></h1>
    <p class="lead" th:text="${error}"></p>
    <p th:if="${extraMessage}" th:text="${extraMessage}"></p>
    <a th:href="@{/books}" class="btn btn-primary">Back to Books</a>

    <form th:action="@{/logout}" method="post" style="display:inline;" th:if="${isAccessDenied}">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>